<div class="home">
    <img  src="../assets/Security On-rafiki.png" alt="logo" class="main-image">
    <div class="home-right">
        <p class="description">Get your <span style="color: rgb(211, 140, 7); background-color: white;">certificate</span> today</p>
        <p class="pki">
            <span style="color: rgb(211, 140, 7); background-color: white; font-weight: 320;">PKI system</span> enables secure exchange of information through digital certificates
        </p>
    </div>
</div>
<app-services></app-services>
