<div class="container">
  <h1 class="title">Create CA certificate</h1>
<br>
  <h2 class="title">Choose certificate</h2>
  <div>
    <table>
        <thead>
            <tr>
                <th>certificateType</th>
                <th>issuerMail</th>
                <th>subjectMail</th>
                <th>startDate</th>
                <th>endDate</th>
                <th>Serial number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cert of certificates" 
                (click)="onCertSelect(cert)" 
                [class.selected]="cert === selectedCert">
                <td>{{ cert.certificateType }}</td>
                <td>{{ cert.issuerMail }}</td>
                <td>{{ cert.subjectMail }}</td>                   
                <td>{{ cert.startDate }}</td>
                <td>{{ cert.endDate }}</td>
                <td>{{ cert.serialNumber }}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<h2 class="title">Choose client</h2>
<br>
  <div>
      <table>
          <thead>
              <tr>
                  <th>Mail</th>
                  <th>Organization unit</th>
                  <th>Name</th>
                  <th>Country</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of users" 
                  (click)="onUserSelect(user)" 
                  [class.selected]="user === selectedUser">
                  <td>{{ user.mail }}</td>
                  <td>{{ user.organizationUnit }}</td>
                  <td>{{ user.commonName }}</td>                   
                  <td>{{ user.country }}</td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="date-picker">
      <label class="startDateLabel">Start Date</label>
      <input type="date" id="startDate" name="startDate" class="startDate" [(ngModel)]="startDate"><br><br>
      <label class="endDateLabel">End Date</label>
      <input type="date" id="endDate" name="endDate" class="endDate" [(ngModel)]="endDate"><br><br>
  </div>  
  <br>
  <div class="filePass-container">
      <label class="filePass">File password</label>
      <input type="password" id="filePass" name="filePass" class="filePass" [(ngModel)]="filePass">
  </div>
  <button class="create" (click)="onCreate()">Create</button>
</div>
