
.logo{
    margin-top: 3px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 10%;
  }

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    width: 100vw - 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(35, 35, 53);
    height: 50px;
    width: 100%;
    justify-content: space-between;
}

.app-name{
    color: #fff;
    font-size: 1.1vw;
    font-weight: 320;
}

.navbar .logButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 320;
    font-size: 0.9vw;
    text-decoration: none;
    color: #fff;
    border-color: #fff;
    border-width: 2px;
  }


.certificate-menu {
  position: fixed;
  bottom: 50px; /* Visina footera */
  right: 0;
}

