<div class="services">
    <p class="title">We provide you</p>
    <div class="s">
        <div class="col">
            <label class="service">
                Digital certificates
            </label>
            <img class="img" src="../assets/diploma.png">
        </div>
        <div class="col">
            <label class="service">
                User identity verification
            </label>
            <img class="img" src="../assets/id.png">
        </div>
        <div class="col">
            <label class="service">
            Digital signatures
            </label>
            <img class="img" src="../assets/digital-signature.png">
        </div>
        <div class="col">
            <label class="service">
                High level of security and reliability
            </label >
            <img class="img" src="../assets/internet-security.png">
        </div>
</div>
</div>

